.box{
  padding: 20px 20px;
  max-width: 90%;
/*  margin: 0 auto;*/
  margin-left: 5%;
  margin-top: 4.5vh;
  margin-bottom: 20px;
  box-shadow: 2px 4px 29px -4px rgba(0, 0, 0, 0.16);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}

.forms{
  margin-top:4.5vh;
  margin-left:5%;
}
.search{
  padding-top: 30px;
}

thead{
  background-color: #3393FF;
  color: white;
 
}
th, td{
  max-width: 12vw;
   word-break: break-all;
}
